@import '../../vars';
.shop-item{
  margin: 0 auto 2rem auto;
  width:100%;
  cursor: pointer;
  position: relative;
  &__buttons{
    display: flex;
    justify-content: space-around;
    align-content: center;

    .card-link{
      align-self: center;
      color: $mainBgColor;
      
    }

    button{
      //background: linear-gradient(to right,#8AD246 , $mainBgColor);
      background-color: #71BB33;
      border: 1px solid #71BB33
    }
  } // buttons

  &__desc{
    height: 5rem;
  }
} // shop item

.shop-item.crutch{
    width: 30%;
}
.shop-item-price{

  span{

  }
}

.shop-item .alert{
  position:absolute;
  z-index: 3;
  bottom: 5rem;
  font-size: 1rem;
  transition: bottom 2s linear, opacity 1s linear;
  opacity: 0;
  background-color: $mainBgColor;
  color:#fff;
  border-color: #fff;
}


@media(max-width: 900px){
  .shop-item.crutch{
    width: 50%;
    margin: 0 auto;
  }
  .card-link{
    display: none;
  }
}
@media(max-width: 767px){
  .shop-item{
    text-align: center;
    .btn{
      width: 50%;
    }
  }
}

@media(max-width: 560px){
  .shop-item.crutch{
    width: 90%;
  }
}