@import "../../vars";


.header{
  flex-basis: 10%;
  background-color:$mainBgColor;
  .nav-link{
    color:$TextColorWhite;
  }

  &-brand{
      color:$TextColorWhite;
      font-family: $fortniteFont;
      letter-spacing: 0.1rem;
      font-size: 1.4rem;
    }

}