@import "../../vars";
.footer{
  flex-basis: 10%;
  background-color: rgba(113,187,51, .1);
}
.footer-copyright{
  background-color: $mainBgColor;
  color:$TextColorWhite;
  a{
    color: $TextColorWhite;
  }
}
.footer-desc{
}